@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1);
}
.smooth-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.smooth-content {
  min-height: 100vh;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-orange-500 {
  scrollbar-color: #f97316 transparent;
}